name: quizzick-service-test
services:
  postgresql:
    image: postgres:15
    environment:
      POSTGRES_USER: quizzick
      POSTGRES_PASSWORD: quizzick
      POSTGRES_DB: quizzick_test
    ports:
      - "5433:5432"
    volumes:
      - pgdata_test:/var/lib/postgresql/data
  minio:
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data
    ports:
      - "9000:9000"
    volumes:
      - miniodata_test:/data
